<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Events</title>
    <link rel="stylesheet" href="..\static\css\community.css">
</head>
<body>
    <div class="community">
        <div class="comm1">Community Events</div>
        <div class="comm2">Community Events</div>
        <div class="comm3">Community Events</div>
        <div class="comm4">Community Events</div>
        <div class="comm5">Community Events</div>
        <div class="ips-tech">IPS Tech</div>
    </div>

    <div class="box">

    </div>

    
</body>
</html>